<%= form_with(model: @work_place,local: true) do |form| %>
    <%# error出力 %>
    <% if work_place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(work_place.errors.count, "error") %> error! 保存されませんでした！</h2>
        <ul>
        <% work_place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div  align ="center" class="form_div">
        <table width="60%">
          <tr class="field">
            <td width="20%"><%= form.label :name %></td>
            <td width="40%"><%= form.text_field :name ,:placeholder => "店舗名"%></td>
          </tr>
          
          <tr class="field">
            <td><%= form.label :region %></td>
            <td><%= form.text_field :region ,:placeholder => "地域"%></td>
            <%# 後でプルダウンﾘｽﾄ化したい %>
             <!--select_tag(:region, options_for_select(["東北","関東","中部","信越","関西","中部","四国","九州",]))  ,:placeholder => "地方"-->
          </tr>
          
          <tr class="field">
            <td><%= form.label :TEL %></td>
            <td><%= form.number_field :tel ,:placeholder => "09012345678"%></td>
          </tr>
          <tr class="field">
            <td><%= form.label :Address %></td>
            <td><%= form.text_area :address ,:placeholder => "住所"%></td>
          </tr>
          
          <tr class="field">
            <td><%= form.label :Opentime %></td>
            <td class="timeselect"><%= form.time_select :opentime ,:placeholder => "営業開始", include_blank: true%></td>
          </tr>
          
          <tr class="field">
            <td><%= form.label :Closetime %></td>
            <td class="timeselect"><%= form.time_select :closetime, :placeholder => "営業終了", include_blank: true %></td>
          </tr>
          
          <tr class="field">
            <td><%= form.label :URL %></td>
            <td><%= form.text_area :url , :placeholder => "お店のURLを入力してください", include_blank: true %></td>
          </tr>
          
        </table>
        
        <div class="field">
          <%= form.hidden_field :user_id, :value => @user %>
        </div>
    
        <% if user_signed_in? %>
          <div >
            <%= form.submit value:"登録", data: {disable_with: "Now Loading..."},class: "btn btn-primary form_actions"%>
          </div>
        <% end %>
         
    </div>
<% end %>
