<h1>店舗詳細 | CoworkingSpace's</h1>

<div class="user_nav">
  <% if user_signed_in?%>
      <button class ="btn btn-primary"><%= link_to 'プロフィール変更', edit_user_registration_path%></button>
      <button class ="btn btn-primary"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></button>
    <% if current_user.role == 'admin' or current_user.role == 'register'%>
        <button class ="btn btn-success"><%= link_to '編集', edit_work_place_path(@work_place)%></button>
        <button class ="btn btn-success"><%= link_to '削除', @work_place, method: :delete, data: { confirm: '本当に削除しますか?' } %></button>
    <% end %>
  <% else%>
      <button class ="btn btn-primary"><%= link_to '新規登録', new_user_registration_path%></button>
      <button class ="btn btn-primary"><%= link_to 'ログイン', new_user_session_path%></button>
  <% end %>
</div>

<section class="show_section">
  <div class="show_inlineblock">
        <div class="show_ids">
          No.<%= @work_place.id %>
        </div>
        
        <div class="show_name_region">
          <h2 class="show_name"><%= @work_place.name %></h2>
          <h3 class="show_region"><%= @work_place.region %></h3>
        </div>
  </div>
    
        <div class="show_image">
            <% if @work_place.image? %>
              <%= @work_place.image %>
              <strong><%= image_tag @work_place.image.url %></strong>
            <% end %>
        </div>
        

      <div class="show_name_detail">
        <h2 class="show_name2"><%= @work_place.name %></h2>
        <ul class="show_ul">
          <% if @open_hour.present? %>
          <li>営業時間: <%= @open_hour %> : <%= @open_min %> ~ <%= @close_hour %> : <%= @close_min %></li>
          <% end %>
          <li>☎:<%= @work_place.tel %></li>
          <% if @work_place.address.present? %>
          <li>🏠:<%= @work_place.address %></li>
          <% end %>
          <li><%= link_to '店舗Webサイト・・', @work_place.url, class:"show_link" %></li>
        </ul>
      </div>
    
            <button class="top"><%= link_to 'TOP', work_places_path %></button>
      
      <% if @work_place.comments.nil? %>
        <p><%= "現在コメントは 0件です" %></p>
      <% end %>
      
      <div class="content_form" >
      <%= render 'form2', comment: @comment %>
      </div>
      
      <% @work_place.comments.reverse_each  do |re| %>
          <section class ="comment_section">
            
            <div class ="comment_created_at"><%= re.created_at.strftime("%Y年/%m月/%d日 %H時 %M分") %></div>
              <div class="comment_inline">
                <div class ="comment_id">UserID:<%= current_user.id %>さん</div>
                <div class ="comment_content">
                 <p><%= re.content %></p>
                </div>
              </div>
          </section>

      <% end %>
</section>
